body {
    margin: 0;
    /* background-image: url(../Images/homeBackgroundImage.jpeg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
#brandname {
    font-size: 40px;
    font-family: Helvetica;
    color: #055240;
    margin-left: 5px;
    font-weight: 700; 
}
#services {
    margin-right: 40px;
}
#navDropDown {
    color: black;
    font-size: 18px;
    font-weight: 400;
    margin-right: 20px;
    margin-left: auto;
    border-left: 200px;
    border-right: 200px;
    display: flex;
    justify-content: flex-end;
    opacity: 100%;
}
Button {
    margin-right: 20px;
    color: #055240
}
.hero {
    background-image: url(../Images/homeBackgroundImage.jpeg);
    height: 900px;
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
    background-position: center top;
}
.herocontainer {
    background-color: white;
    margin: auto;
    text-align: center;
    border-radius: 4px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 664px;
    height: 307px;
}
.separation {
    width: 50px;
    border-top: 1px solid #0d7a5f;
    margin: 20px auto;
}
.strongt {
    color: black;
    font-weight: 800;
    font-size: 30px;
}
.help {
    background-color: #0d7a5f;
    color: white;
    border: 1px solid #0d7a5f;
    border-radius: 8px;
    position: relative;
    font-weight: 800;
    padding: 9px 24px;
    font-size: 18px;
    margin-left: 10px;
}
.otherjobs {
    margin-top: 16px;
    margin: 25px 24px 0 24px;
    display: flex;
}
.job {
    border-radius: 10px;
    background-color: white;
    border: 1px solid #0d7a5f;
    color: #0d7a5f;
    margin: 0 16px 16px 0;
}
.input {
    width: 50%;
    padding: 9px 24px;
    border-radius: 8px;
    border: 1px solid;
}
.section2 {
    background-color: white;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
}
.popular{
    padding-top: 80px;
    padding-bottom: 0px;
    padding-left: 100px;
    font-size: 40px;
    font-weight: 800;
    width: 100%;
    clear: both;
}
.photo-container {
    background-color: white;
    height: 70%;
    width: 60%;
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.photo-box {
    width: calc(33% - 10px);
    height: calc(50% - 10px);
    margin-bottom: 20px;
    box-sizing: border-box;
    position: relative;
    background-color: white;
}

.photo {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
}
.photo-text-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    border-radius: 0 0 10px 10px;
}
.photo-text {
    margin: 0;
    padding: 10px;
}

.section3 {
    background-color: white;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
}
.s3-firsthalf {
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-repeat: no-repeat;
}
.s3-d1-text-box {
    background-color: white;
    height: 100%;
    width: 50vw;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.s3-d1-text-title {
    font-size: 40px;
    font-weight: 400;
    margin-top: 40px;
    padding-left: 13%;
}
.s3-d1-text {
    font-size: 23px;
    font-weight: 300;
    padding-left: 15%;
    padding-right: 8%;
}
.s3-d1-list {
    font-size: 23px;
    font-weight: 400;
    margin-top: 5px;
    padding-left: 19%;
}
.s3-d1-list-item {
    margin-top: 8px;
}
.s3-d1-img-box {
    background-color: white;
    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: column;
}
.s3-d1-img {
    height: 95%;
    width: 84%;
    margin-left: 15%;
    margin-right: 1%;
    margin-top: 5%;
    object-fit: cover;
}
.s3-secondhalf {
    /* background-color: tomato; */
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
}
.feature {
    margin-top: 50px;
    margin-left: 7%;
}
.featurer{
    display: flex;
    flex-direction: row;
    font-size: flex;
    text-align: center;
    padding: 0
}
.featured {
    font-size: 24px;
    font-weight: 800;
    text-align: start;
    padding: 0px 0px 50px 0px;
    margin: 0px 0px 8px 0px;
}
.featureimage {
    border-radius: 100%;
    height: 120px;
    width: auto;
}
.features {
    text-align: center;
    box-sizing: border-box;
    width: 29%;
}

.section4 {
    background-color: white;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
}
.s4-firsthalf {
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-repeat: no-repeat;
}
.s4-d1-img-box {
    background-color: white;
    margin-top: 8%;
}
.s4-d1-img {
    width: 40vw;
    margin-left: 1%;
}

.s4-d1-text-box {
    background-color: white;
    height: 100%;
    width: 50vw;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.s4-d1-text-title {
    font-size: 40px;
    font-weight: 400;
    margin-top: 40px;
    padding-left: 13%;
}
.s4-d1-text {
    font-size: 23px;
    font-weight: 300;
    padding-left: 15%;
    padding-right: 8%;
}
.s4-d1-list {
    font-size: 23px;
    font-weight: 400;
    margin-top: 5px;
    padding-left: 19%;
}
.s4-d1-list-item {
    margin-top: 8px;
}